@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

.first-block {
    margin: 0 auto;
    height: 779px;
    background: url('assets/background.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-block main {
    height: auto;
    display: flex;
    width: 100%;
    margin: 60px auto 120px;
    max-width: 1200px;
}

.logo-block, .footer-logo-block {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.logo-block-title {
    margin-left: 15px;
    color: white;
    font-size: 32px;
    font-weight: normal;
}

.head-nav {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.head-nav ul, .footer-nav ul {
    display: flex;
    list-style: none;
    font-size: 23px;
}

.head-nav ul li {
    margin-right: 65px;
    padding: 8px 0;
}

.head-nav ul li:last-child {
    margin-right: 0;
    padding: 0;
}

button, .submit-button {
    padding: 17px 42px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #CD6326;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.submit-button {
    border-radius: 0;
}

button:hover, .submit-button:hover {
    background-color: #E69029;
}

.button {
    border: 2px solid #CD6326;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 23px;
}

.button:hover {
    background-color: #CD6326;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: #ccc;
}

svg:hover path:nth-child(1) {
    fill: #CD6326;
}

main aside {
    width: 274px;
    font-family: 'Open Sans', sans-serif;
}

main aside h1 {
    font-size: 48px;
    color: #CD6326;
    font-weight: normal;
    margin-bottom: 51px;
    letter-spacing: 2px;
}

.main-content {
    color: white;
    font-size: 18px;
    line-height: 27px;
    margin: 55px 0 50px 0;
}

.second-block {
    margin: 0 auto;
    min-height: 1368px;
    display: flex;
    flex-direction: column;
    background: #CCCCCC;
}

.second-block main {
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    max-width: 1200px;
    width: 100%;
}

.second-block main h2 {
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.second-block main p {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: normal;
    color: #333333;
    margin-top: 258px;
}

.second-block main h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #666666;
    margin-bottom: 120px;
}

.slider {
    display: flex;
}

.rule {
    display: flex;
    align-items: center;
}

.rule img {
    cursor: pointer;
}

.rule img:hover {
    opacity: .7;
}

.slider-block {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.slider-card {
    position: relative;
}

.slider-card:hover {
    opacity: .9;
    cursor: pointer;
}

.card-header {
    position: absolute;
    bottom: 85px;
    font-size: 24px;
    color: white;
    width: 100%;
}

.card-description {
    position: absolute;
    font-size: 17px;
    color: white;
    width: 100%;
    bottom: 43px;
}

.email-input {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.email-input button {
    border-radius: 0;
}

.email-input input[type='text'] {
    max-width: 540px;
    width: 100%;
    background: #cccccc;
    border: solid 1px #666666;
    border-right: none;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

footer {
    height: 360px;
    background: url('assets/footer.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.footer-nav {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo-block {
    flex: 1 1 22%;
}

.footer-nav nav {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
}

.footer-nav .networks {
    flex: 1 1 22%;
}

.footer-nav .networks ul {
    display: flex;
    justify-content: flex-end;
}

.footer-nav .networks ul li {
    margin-left: 27px;
}

.footer-nav nav ul li {
    margin-left: 85px;
}

.footer-nav nav ul li a {
    color: #F7F7F7;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
}
